@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-2">
            <a href="./SendMail" class="btn btn-default">
                Send Mail
            </a>
        </div>
        <div class="col-md-2">
            <a href="./RecentMessages" class="btn btn-default">
                Show my recent messages
            </a>
        </div>
    </div>
</div>
